@font-face{
  font-family:"OpenSauceOne";
  src: url(OpenSauceOne/OpenSauceOne-Regular.ttf);
}

@font-face{
  font-family:"NeueBit";
  src: url(NeueBit/PPMondwest-Regular.otf);
}

@font-face{
  font-family:"NeueBitBold";
  src: url(NeueBit/PPNeueBit-Bold.otf);
}

@font-face{
  font-family:"SourceCode-Semibold";
  src: url(SourceCodePro_FontsOnly-1.009/SourceCodePro-Semibold.ttf);
}

